:root {
  --black: #111;
  --dark: #222;
  --grey: #333;
  --white: #FFF;
  --light: #EEE;
  --cyan-dark: #048;
  --cyan: #08F;
  --magenta-dark: #408;
  --magenta: #80F;
  --yellow-dark: #840;
  --yellow: #F80;
  color-scheme: dark light;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark);
  color: var(--yellow);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--yellow);
}

container {
  align-items: center;
  justify-content: center;
}
