<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Link | home</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Links</h1>
  <div id="buttonGrid" class="button-grid">
    <!-- Buttons generate here -->
  </div>
  <h2>Daniel Mikes</h2>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
